USE [master]
GO
/****** Object:  Database [qqq]    Script Date: 10/03/2024 9:43:54 PM ******/
CREATE DATABASE [qqq]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qqq', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHOITRAN\MSSQL\DATA\qqq.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qqq_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHOITRAN\MSSQL\DATA\qqq_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qqq].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qqq]
GO
/****** Object:  Table [dbo].[GoiTap]    Script Date: 10/03/2024 9:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTap](
	[GoiTapID] [nvarchar](50) NOT NULL,
	[TenGoiTap] [nvarchar](255) NULL,
	[Gia] [float] NULL,
	[ThoiLuong] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[GoiTapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/03/2024 9:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonID] [nvarchar](50) NOT NULL,
	[NgayLap] [date] NULL,
	[TongTien] [float] NULL,
	[GoiTapID] [nvarchar](50) NULL,
	[NhanVienID] [nvarchar](100) NULL,
	[HocVienID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 10/03/2024 9:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[HocVienID] [nvarchar](100) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[Sdt] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[UserID] [nvarchar](100) NULL,
	[GoiTapID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[HocVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/03/2024 9:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[UserID] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NULL,
	[VaiTro] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/03/2024 9:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [nvarchar](100) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](255) NULL,
	[Sdt] [nvarchar](50) NULL,
	[UserID] [nvarchar](100) NULL,
	[VaiTro] [nvarchar](100) NULL,
	[QRcode] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 10/03/2024 9:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[ThietBiID] [nvarchar](50) NOT NULL,
	[TenThietBi] [nvarchar](255) NULL,
	[SoLuong] [int] NULL,
	[NhaCungCap] [nvarchar](255) NULL,
	[NgayNhapThietBi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ThietBiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaitro]    Script Date: 10/03/2024 9:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaitro](
	[Vaitro] [nvarchar](100) NOT NULL,
	[VaitroID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Vaitro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([GoiTapID])
REFERENCES [dbo].[GoiTap] ([GoiTapID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([HocVienID])
REFERENCES [dbo].[HocVien] ([HocVienID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[HocVien]  WITH CHECK ADD FOREIGN KEY([GoiTapID])
REFERENCES [dbo].[GoiTap] ([GoiTapID])
GO
ALTER TABLE [dbo].[HocVien]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[NguoiDung] ([UserID])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([VaiTro])
REFERENCES [dbo].[Vaitro] ([Vaitro])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[NguoiDung] ([UserID])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([VaiTro])
REFERENCES [dbo].[Vaitro] ([Vaitro])
GO
/****** Object:  StoredProcedure [dbo].[DoanhThuu]    Script Date: 10/03/2024 9:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DoanhThuu]
as
begin
     select 
		TenGoiTap GoiTap,
		count(distinct nv.NhanVienID) soNV,
		count(distinct hv.HocVienID) soHV,
		sum(hd.TongTien) DoanhThu,
		count(distinct hd.HoaDonID) TongHD
	 from HoaDon hd
	 join NhanVien nv  on hd.NhanVienID=nv.NhanVienID
	 join HocVien hv on hd.HocVienID=hv.HocVienID
	 join GoiTap gt on hd.GoiTapID=gt.GoiTapID
	 group by TenGoiTap

end;
GO
USE [master]
GO
